{% extends 'projects-3-col.html' %}
{% load static %}
{% block content %}
<div class="site-content">
    <div class="big-title">
        <div class="container">
            <h1 class="entry-title">У нас есть {{ objects_index.all.count }} объектов</h1>
            <div class="breadcrumb">
                <div class="container">
                    <ul class="tm_bread_crumb">
                        <li class="top"><a href="./">Домой</a></li>
                        <li class="sub tail current">У нас {{ objects_index.all.count }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="our-projects">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="myportfolio-container minimal-light" id="our-projects">
                        <div class="mb-6">
                        <div class="portfolio-row">
                              <div class="portfolioContainer portfolioContainer-full row" id="da-thumbs">
                                  <ul class="project-masonry">
                                    {% for object in objects_index %}
                                      <li class="grid-item filter-building our-projects-wrapper col-md-4 col-sm-6 mb-3">
                                          <div class="project-media-cover-wrapper">
                                            <div class="project-entry-media">
                                                {% for image in object.object_image.all %}
                                                {% if forloop.counter == 1 %}
                                                <img src="{{ image.image.url }}" alt="" />
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="project-entry-cover">
                                                <div class="project-overlay our-projects-container"></div>
                                                <div class="project-content">
                                                    <div class="our-projects-categories">
                                                        <a href="{% url 'object_detail' object.id %}">{{ object.status }}</a>
                                                    </div>
                                                    <div class="line-clear"></div>
                                                    <div class="our-projects-title">
                                                        <a href="{% url 'object_detail' object.id %}">
                                                            {{ object.title }}
                                                        </a>
                                                    </div>
                                                    <div class="line-clear"></div>
                                                    <div class="our-projects-popup">
                                                        {% for image in object.object_image.all %}
                                                        {% if forloop.counter == 1 %}
                                                        <a data-rel="prettyPhoto" href="{{ image.image.url }}">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      </li>
                                      {% endfor %}
                                  </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}