{% load static %}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="shortcut icon" href="{{setting.logo}}"/>
		<title>{{setting.title}}</title>

		<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css' media='all' />
		<link rel='stylesheet' href="{% static 'css/settings.css' %}" type='text/css' media='all' />
		<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}" type='text/css' media='all'/>
		<link rel='stylesheet' href="{% static  'css/prettyPhoto.css'%}" type='text/css' media='all' />
		<link rel='stylesheet' href="{% static 'css/owl.carousel.css'%}" type='text/css' media='all' />
		<link rel='stylesheet' href="{% static 'css/style.css'%}" type='text/css' media='all' />
		<link rel='stylesheet' href="{% static 'css/custom.css' %}"type='text/css' media='all' />
		<link rel='stylesheet' href="{% static 'css/preloader.css'%}" type='text/css' media='all' />

		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	{% include 'include/navbar.html' %}
		<body>
			<div class="site-content">
				<div class="section">
					<div class="rev_slider_wrapper fullwidthbanner-container">
						<div id="rev_slider_2" class="rev_slider fullwidthabanner">
							<ul>
								<li data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
									<img src="{% static 'images/banner/banner_4.jpg' %}"  alt="" 
										 data-bgposition="center top" 
										 data-kenburns="on" 
										 data-duration="9000" 
										 data-ease="Linear.easeNone" 
										 data-scalestart="100" 
										 data-scaleend="110" 
										 data-rotatestart="0" 
										 data-rotateend="0" 
										 data-offsetstart="0 0" 
										 data-offsetend="0 0" 
										 class="rev-slidebg" />

									<a 	 class="tp-caption rev-btn rev-btn-3"
										 href="{% url 'object_index' %}" target="_self"
										 data-x="['center','center','center','center']" 
										 data-hoffset="['-76','-80','-80','-80']"
										 data-y="['middle','middle','middle','middle']" 
										 data-voffset="['95','60','60','60']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-transform_idle="o:1;"
										 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeInOut;"
										 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="auto:auto;s:300;"
										 data-start="3100"
										 data-splitin="none"
										 data-splitout="none"
										 data-actions=''
										 data-responsive_offset="on"
										 data-end="8400">Объекты </a>

									<a 	 class="tp-caption rev-btn rev-btn-4"
										 href="#" target="_self"
										 data-x="['center','center','center','center']" 
										 data-hoffset="['76','80','80','80']"
										 data-y="['middle','middle','middle','middle']" 
										 data-voffset="['95','60','60','60']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-transform_idle="o:1;"
										 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeInOut;"
										 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="auto:auto;s:300;"
										 data-start="3100"
										 data-splitin="none"
										 data-splitout="none"
										 data-actions=''
										 data-responsive_offset="on"
										 data-end="8400">Купить сейчас! </a>

									<div class="tp-caption slide-text-2 color-yellow tp-resizeme"
										 data-x="['center','center','center','center']" 
										 data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" 
										 data-voffset="['11','-60','-30','-20']"
										 data-fontsize="['48','48','36','24']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-transform_idle="o:1;"
										 data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1620;e:Power3.easeInOut;"
										 data-transform_out="auto:auto;s:300;"
										 data-mask_in="x:0px;y:0px;"
										 data-mask_out="x:0;y:0;"
										 data-start="2160"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on"
										 data-end="8540">{{setting.description}}  
									</div>

									<div class="tp-caption slide-text-2 color-white tp-resizeme"
										 data-x="['center','center','center','center']" 
										 data-hoffset="['0','0','0','0']"
										 data-y="['middle','middle','middle','middle']" 
										 data-voffset="['-55','-60','-100','-60']"
										 data-fontsize="['48','48','36','24']"
										 data-color="['rgba(255, 255, 255, 1.00)','rgba(244, 184, 0, 1.00)','rgba(244, 184, 0, 1.00)','rgba(244, 184, 0, 1.00)']"
										 data-width="none"
										 data-height="none"
										 data-whitespace="nowrap"
										 data-transform_idle="o:1;"
										 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
										 data-transform_out="auto:auto;s:300;"
										 data-mask_out="x:0;y:0;"
										 data-start="1090"
										 data-splitin="none"
										 data-splitout="none"
										 data-responsive_offset="on"
										 data-end="8560">{{setting.title}} 
									</div>
								</li>
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
				</div>
				<div class="section call-for-action">
					<div class="container">
						<div class="row">
							<div class="col-sm-9">
								<div class="custom_heading home_quote_txt">
									<div class="call-for-action-text">
										Looking for a quality constructor for your next project?
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="home_quote_btn text-right">
									<a href="#">GET A QUOTE</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section pt-5 pb-3">
					<div class="container">
						<div class="row">
							<ul class="service-grid" style="list-style: none;">
								{% for post in news %}
								<li class="col-md-3 col-sm-6">
									<div class="service-item">
										<div class="service-entry-media">
								
											<img src="{{ post.image.url }}" alt="" />
											
											<div class="service-entry-cover">
												<div class="service-overlay our-services-container"></div>
												<div class="our-services-readmore">
													<a class="our-services-readmore-link" href="{% url 'news_detail' post.id %}">
														Читать далее
													</a>
												</div>
												<div class="our-services-url">
													<a class="our-services-url-link" href="{% url 'news_detail' post.id %}">
														<i class="fa fa-external-link"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="our-services-content">
											<div class="our-services-title">
												<a class="our-services-title-link" href="{% url 'news_detail' post.id %}">
													{{ post.title }}
												</a>
											</div>
											<div class="our-services-desc">
												{{ post.description | truncatewords:20 }}
											</div>
											<div class="our-services-readmore-2">
												<a class="our-services-readmore-link-2" href="{% url 'news_detail' post.id %}">
													Читать далее
												</a>
											</div>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="section home-latest-projects">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="mb-3 projects_btn">
									<p>Последние объекты </p>
									<div class="navigationbutton button-left projects_btn_left">
										<i class="fa fa-angle-left"></i>
									</div>
									<div class="navigationbutton button-right projects_btn_right">
										<i class="fa fa-angle-right"></i>
									</div>
								</div>
								<div class="myportfolio-container minimal-light">
									<div class="slider-wrapper">
										<div class="row">
											<ul class="project-list">
												{% for object in last_objects %}
												<li class="our-projects-wrapper col-md-4 col-sm-6">
													<div class="project-media-cover-wrapper">
														<div class="project-entry-media">
															{% for image in object.object_image.all %}
															{% if forloop.counter == 1 %}
															<img src="{{ image.image.url }}" alt="" />
															{% endif %}
															{% endfor %}
														</div>
														<div class="project-entry-cover">
															<div class="project-overlay our-projects-container"></div>
															<div class="project-content">
																<div class="our-projects-categories">
																	<a href="#">{{ object.status }}</a>
																</div>
																<div class="line-clear"></div>
																<div class="our-projects-title">
																	<a href="{% url 'object_detail' object.id %}">
																		{{ object.title }}
																	</a>
																</div>
																<div class="line-clear"></div>
																<div class="our-projects-popup">
																	{% for image in object.object_image.all %}
																	{% if forloop.counter == 1 %}
																	<a data-rel="prettyPhoto" href="{{ image.image.url }}">
																		<i class="fa fa-search"></i>
																	</a>
																	{% endif %}
																	{% endfor %}
																</div>
															</div>
														</div>
													</div>
												</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section pt-9 pb-9 parallax bg-1">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="parallax-text">
									Our promise as a contractor is to build community value into every project while delivering professional expertise, exceptional customers service and quality construction.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section pt-5 pb-5 bg-gray testimonials">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="section-title">Testimonials</div>
								<div class="testimonials_wrapper">
									<div class="testimonials-list-2">
										<div class="quote">
											<blockquote class="testimonials-text">
												<p>
													“Builder has an exceptional track record building on the Sacramento State campus, and we were confident in their ability to work collaboratively to ensure that a project of this magnitude was delivered successfully.”
												</p>
											</blockquote>
											<img width="90" height="90" src="{% static 'images/avatar/avatar_1.png' %}" class="avatar" alt="" /> 
											<cite class="author">
												<span>Ms. Anna Terry</span> 
												<span class="title">Founder/ CEO of Bulder Ltd.,</span>
											</cite>
										</div>
										<div class="quote">
											<blockquote class="testimonials-text">
												<p>
													“We have assembled a project team comprised of the nation’s top laboratory design and building professionals and are delighted to have Builder execute our vision for this unprecendented facility.”
												</p>
											</blockquote>
											<img width="90" height="90" src="{% static 'images/avatar/avatar_2.png' %}" class="avatar" alt="" /> 
											<cite class="author">
												<span>Mr. Frankie Kao</span> 
												<span class="title">Founder/ CEO of ThemeMove</span>
											</cite>
										</div>
										<div class="quote">
											<blockquote class="testimonials-text">
												<p>
													“Builder has an exceptional track record building on the Sacramento State campus, and we were confident in their ability to work collaboratively to ensure that a project of this magnitude was delivered successfully.”
												</p>
											</blockquote>
											<img width="90" height="90" src="{% static 'images/avatar/avatar_1.png' %}" class="avatar" alt="" /> 
											<cite class="author">
												<span>Ms. Anna Terry</span> 
												<span class="title">Founder/ CEO of Bulder Ltd.,</span>
											</cite>
										</div>
										<div class="quote">
											<blockquote class="testimonials-text">
												<p>
													“We have assembled a project team comprised of the nation’s top laboratory design and building professionals and are delighted to have Builder execute our vision for this unprecendented facility.”
												</p>
											</blockquote>
											<img width="90" height="90" src="{% static 'images/avatar/avatar_2.png' %}" class="avatar" alt="" /> 
											<cite class="author">
												<span>Mr. Frankie Kao</span> 
												<span class="title">Founder/ CEO of ThemeMove</span>
											</cite>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="section-title">Recent News</div>
								<div class="row">
									<ul class="news-list-2">
										<li class="col-md-6 col-sm-12 mb-2">
											<div class="news-entry-media">
												<img src="{% static 'images/blog/blog_1.jpg' %}" alt="" />
												<div class="news-entry-cover">
													<div class="news-overlay home-blog-container"></div>
													<div class="home-blog-popup">
														<a data-rel="prettyPhoto" href="{% static 'images/blog/blog_1_l.jpg' %}">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="home-blog-content">
												<div class="home-blog-title">
													<a href="blog-detail.html">
														House Review: Starter Homes
													</a>
												</div>
												<div class="home-blog-date">July 31, 2015</div>
												<div class="home-blog-comment">2</div>
												<div class="home-blog-desc">
													The startling fact that a growing percentage of the population simply cannot afford a...
												</div>
												<div class="home-blog-readmore">
													<a href="blog-detail.html">
														Read More
													</a>
												</div>
											</div>
										</li>
										<li class="col-md-6 col-sm-12 mb-2">
											<div class="news-entry-media">
												<img src="{% static 'images/blog/blog_2.jpg' %}" alt="" />
												<div class="news-entry-cover">
													<div class="news-overlay home-blog-container"></div>
													<div class="home-blog-popup">
														<a data-rel="prettyPhoto" href="{% static 'images/blog/blog_2_l.jpg' %}">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="home-blog-content">
												<div class="home-blog-title">
													<a href="blog-detail.html">
														9 Reasons To Go Modular
													</a>
												</div>
												<div class="home-blog-date">July 31, 2015</div>
												<div class="home-blog-comment">2</div>
												<div class="home-blog-desc">
													With today's technology, modular homes can be built in any style, and completion time...
												</div>
												<div class="home-blog-readmore">
													<a href="blog-detail.html">
														Read More
													</a>
												</div>
											</div>
										</li>
										<li class="col-md-6 col-sm-12 mb-2">
											<div class="news-entry-media">
												<img src="{% static 'images/blog/blog_3.jpg' %}" alt="" />
												<div class="news-entry-cover">
													<div class="news-overlay home-blog-container"></div>
													<div class="home-blog-popup">
														<a data-rel="prettyPhoto" href="{% static 'images/blog/blog_3_l.jpg' %}">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="home-blog-content">
												<div class="home-blog-title">
													<a href="blog-detail.html">
														The Brands Builders Buy Most
													</a>
												</div>
												<div class="home-blog-date">July 31, 2015</div>
												<div class="home-blog-comment">2</div>
												<div class="home-blog-desc">
													For decades, Home Innovation Research Labs has been polling builders nationwide about...
												</div>
												<div class="home-blog-readmore">
													<a href="blog-detail.html">
														Read More
													</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="section pt-5 pb-5">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="clients_btn">
									<div class="section-title">Clients</div>
									<div class="navigationbutton button-left clients_btn_left">
										<i class="fa fa-angle-left"></i>
									</div>
									<div class="navigationbutton button-right clients_btn_right">
										<i class="fa fa-angle-right"></i>
									</div>
								</div>
								<div class="myportfolio-container minimal-light">
									<div class="row">
										<div class="slider-wrapper">
											<ul class="client-list">
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_1.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 01
															</div>
														</div>
													</div>
												</li>
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_2.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 02
															</div>
														</div>
													</div>
												</li>
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_3.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 03
															</div>
														</div>
													</div>
												</li>
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_4.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 04
															</div>
														</div>
													</div>
												</li>
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_5.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 05
															</div>
														</div>
													</div>
												</li>
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_6.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 06
															</div>
														</div>
													</div>
												</li>
												<li class="col-md-2 col-sm-6">
													<div class="client-media-cover-wrapper">
														<div class="client-entry-media">
															<img src="{% static 'images/client/client_1.png' %}" alt="" />
														</div>
														<div class="client-entry-cover">
															<div class="client-overlay home-clients-container"></div>
															<div class="home-clients-title">
																Client 07
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'include/footer.html' %}
			<div class="copyright">
				<div class="container">
					<div class="row middle">
						<div class="col-md-12 end-md end-lg center">
							© Copyrights 2016 TK-Themes, Inc. All rights reserved.
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="scrollup"><i class="fa fa-angle-up"></i></a>

		<script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery-migrate.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/snap.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jquery.prettyPhoto.init.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/jQuery.headroom.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/headroom.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/script.js' %}"></script>

		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.video.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.slideanims.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.actions.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.kenburn.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.navigation.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.migration.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'js/extensions/revolution.extension.parallax.min.js' %}"></script>
	</body>
</html>